/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* UTILITY CLASSES */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  display: grid;
  place-items: center;
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}

/* BASIC STYLING */
:root {
  --black: #000;
  --blue: #14213D;
  --orange: #FA6607;
  --light-gray: #E5E5E5;
  --white: #FFF;
}

body {
  background-color: var(--white);
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Landing Page                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.landing-page {
  background: #fff url(../media/landing-page-bg.webp) center / cover no-repeat;
  height: 100svh;
}

header {
  height: 60px;
}

header nav, header p, header h1 {
  line-height: 60px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
}

header nav, header p {
  font-weight: 600;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.25s ease-in-out;
}

header nav ul li a {
  list-style: none;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Products                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  About                                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Contact                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Heading Text */

.section-heading {
  color: #000;
  font-size: 24px;
  margin: 20px;
}

/* Required fields text */

.required-fields {
  color: #000;
  font-size: 12px;
  font-weight: 200;
  margin: 10px 30px;
}

.form-container {
  background-color: var(--white);
  padding: 20px;
  border-radius: 8px;
}

/* Form Inputs */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: none;
}

/* Form Button */
button[type="submit"] {
  background-color: #FA6607;
  color: var(--white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #e35c05;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
footer {
  height: 70px;
  background-color: var(--blue);
}

footer p{
  line-height: 70px;
  color: var(--light-gray);
}