
  /* BASIC STYLING */
  :root {
    --black: #000;
    --blue: #14213D;
    --orange: #FA6607;
    --light-gray: #E5E5E5;
    --white: #FFF;
  }
  
  body {
    background-color: var(--white);
    font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
  }
  
  .container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
  }
  
  .hero-content {
    z-index: 9999;
  }
  header {
    height: 60px;
    align-items: center;
  }
  
  header nav, header p, header h1 {
    line-height: 60px;
  }
  
  h1, h1 a {
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
  }
  
  header nav, header p {
    font-size: 18px;
    transition: color 0.25s ease-in-out;
  }
  
  header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
  }
  
  
   /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*  Product detail                                       */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
main {
  margin-top: 80px;
}

.single-product {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.row {
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.column {
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
}

/* 640px and down */
@media (max-width: 640px) {
  .column {
    /* Minus 10px on each box accounts for 20px gap*/
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.single-product select {
    display: block;
    padding: 5px 10px;
    margin-top: 20px;
    background-color: #fbf2e9;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    background-color: #fbf2e9;
}

.cart-btn {
    background-color: var(--orange);
    margin-top: 13px;
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.space {
    margin-top: 3px;
    margin-bottom: 3px;
}
.size {
    margin-top: 2px;
}
  

  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*  Section Heading                                      */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  .section-heading {
    padding: 80px 0 20px;
    text-align: center;
  }
  
  .section-intro {
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 600;
    font-size: 16px;
  }
  
  .section-name {
    font-size: 40px;
    font-weight: 700;
  }

  #product-section {
    margin-bottom: 80px;
  }
 

  
