/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* UTILITY CLASSES */
.flex {
    display: flex;
  }
  
  .space-between {
    justify-content: space-between;
  }
  
  .center {
    display: grid;
    place-items: center;
  }
  
  .gap-20 {
    gap: 20px;
  }
  
  .gap-40 {
    gap: 40px;
  }
  
  /* BASIC STYLING */
  :root {
    --black: #000;
    --blue: #14213D;
    --orange: #FA6607;
    --light-gray: #E5E5E5;
    --white: #FFF;
  }
  
  body {
    background-color: var(--white);
    font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
  }
  
  .container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
  }
  
  
  header button {
    background-color: var(--orange);
    color: var(--white);
    padding: 8px 16px;
  }
  .hero-content {
    z-index: 9999;
  }
  header {
    height: 60px;
    align-items: center;
  }
  
  header nav, header p, header h1 {
    line-height: 60px;
  }
  
  h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
  }
  
  header nav, header p {
    font-size: 18px;
    transition: color 0.25s ease-in-out;
  }
  
  header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
  }
  
  
   /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*  Product detail                                       */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header button {
    background-color: var(--orange);
    color: var(--white);
    padding: 8px 16px;
}
.single-product {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.row {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    margin-right: 450px;
}
.single-product select {
    display: block;
    padding: 5px 10px;
    margin-top: 20px;
}
.cart-btn {
    background-color: #FA6607;
    margin-top: 13px;
    padding: 8px 13px;
}

img {
    height: 400px;
    width: 400px;
}
.space {
    margin-top: 3px;
    margin-bottom: 3px;
}
.size {
    margin-top: 2px;
}
  

  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*  Section Heading                                      */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  .section-heading {
    padding: 80px 0 20px;
    text-align: center;
  }
  
  .section-intro {
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 600;
    font-size: 16px;
  }
  
  .section-name {
    font-size: 40px;
    font-weight: 700;
  }
  
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*  Products                                             */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  .product-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  
  .product-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .product-image-wrapper {
    overflow: hidden;
  }
  
  .product-image {
    transition: all 0.15s ease-in-out;
    width: 100%;
  }
  
  .product-image:hover {
    opacity: 0.6;
    transform: scale(1.1);
  }
  
  .product-info-container {
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .product-seller {
    text-transform: uppercase;
    color: rgb(186, 186, 186); /* change this later */
    font-size: 8px;
  }
  
  .product-title {
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 500;
  }
  
  .product-price {
    font-size: 10px;
    font-weight: 600;
  }
  
  
  @media (max-width: 750px) {
    .product-grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 450px) {
    .product-grid-container {
      grid-template-columns: 1fr;
    }
  }
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*  Footer                                               */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  footer {
    height: 70px;
    background-color: var(--blue);
  }
  
  .social-media-wrapper i {
    font-size: 22px;
    color: var(--light-gray);
    line-height: 70px;
    transition: color 0.25s ease-in-out;
  }
  
  footer p{
    line-height: 70px;
    font-weight: 600;
    color: var(--light-gray);
  }
  
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*  Media Queries                                        */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
